// Signup.module.scss

.signup-container {
  @apply max-w-md mx-auto mt-8 p-6 bg-white rounded shadow-md flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  margin-top: 9rem;
  min-height: 18rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  h2 {
    @apply text-2xl font-bold mb-4;
  }

  label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  & form {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;

    // &.mb-4 {
    //     @apply mb-4;
    // }
  }

  button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }

  // =================================================Otp Verify=======================================

  .otp-input {
    @apply w-full py-2 px-3 text-center font-bold text-2xl border rounded focus:outline-none;
  }

  button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none;
  }
}
