@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply font-sans;
    margin: 0;
    padding: 0;
  }

  main {
    @apply mx-auto my-8;
  }
  
  table {
    @apply w-4/5 mx-auto border-collapse;
  }
  
  th, td {
    @apply border border-gray-300 py-2 px-4 text-left;
  }
  
  th {
    @apply bg-green-500 text-white;
  }
  
  tr:hover {
    @apply bg-gray-100;
  }
  